body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px;
  background-color: #1b202b;
}

#root {
  padding: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Greycliff";
  src: local("Greycliff"),
    url(./assets/greycliff/GreycliffCF-Heavy.woff2) format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Greycliff";
  src: local("Greycliff"),
    url(./assets/greycliff/GreycliffCF-ExtraLight.woff2) format("woff2");
  font-weight: normal;
}
