body {
  background-color: #282c34;

  color: white;
}

.Title {
  text-align: center;
  font-size: 45px;
  display: none;
}
.Subtitle {
  font-size: 23px;
  text-align: center;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-actions {
  max-width: 500px;
  text-align: center;
  margin: 0px auto 32px auto;
}

.nft-sm {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.nft-quality {
  font-size: 12px;
  margin-top: 6px;
  color: #626a7a;
}
.nft-img {
  width: 140px;
  height: 140px;
}

.nft-img img {
  width: 140px;
  height: 140px;
  border-radius: 4px;
}

.nft-info {
  width: 100%;
  padding-left: 16px;
  font-size: 16px;
}
.nft-name {
  font-size: 17px;
  font-weight: bold;
}

.nft-lore {
  padding-top: 12px;
  font-size: 14px;
}

.nft-attr-box {
  margin-left: 32px;
  width: 170px;
}

.nft-attr {
  display: flex;
  width: 100%;
}
.nft-attr .label {
  width: 80px;
  color: #626a7a;
}
.nft-attr .val {
  width: 30px;
  text-align: right;
}

.about {
  max-width: 600px;
  margin: auto;
  padding: 32px;
  font-size: 17px;
}
.buybutton {
  position: absolute;
  bottom: 16px;
  left: 0px;
  width: 100%;
  box-sizing: content-box;

  text-align: center;
}
/* Portrait and Landscape */
@media only screen and (max-device-width: 900px) {
  .collection {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
  }
  .nft-sm {
    text-align: center;
    display: block;

    margin: auto;
    padding-bottom: 32px;
    border-bottom: 3px dotted #3e3f44;
    margin-bottom: 32px;
  }
  .nft-img {
    display: block;
    margin: auto;
    width: 216px;
    height: 216px;
  }
  .nft-img img {
    width: 216px;
    height: 216px;
  }
  .nft-info {
    width: 100%;
    padding-top: 16px;
    padding-left: 0px;
  }
  .nft-attr-box {
    margin-top: 8px;
    margin-left: 90px;
  }
}

.user {
  margin: auto;
  max-width: 600px;
  margin-top: 32px;
}
.user .address {
  font-size: 13px;
  text-align: center;
  word-break: break-all;
  padding: 0px 16px;
}
.user .address .title {
  color: #7e8fb3;
}
.user .address .val {
  color: #1be274;
}
.user .icp {
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
}
.user .actions {
  margin-top: 8px;
  text-align: center;
}

.filters {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 8px;
}

button {
  background-color: #444a57;
  color: white;
  border: 1px solid #5c566b;
  border-bottom: 2px solid #1a1436;
  border-right: 2px solid #211849;

  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}
.c-actions button {
  padding: 3px 12px;
}
button:after {
  content: "";
  background: #90ee90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

button.attention {
  background-color: #3d5849;
  color: white;
  border: 1px solid #378337;
  border-bottom: 2px solid #164616;
  border-right: 2px solid #184918;
}

select {
  background-color: #444a57;
  color: white;
  border: 1px solid #2d3950;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.priceOptions {
  margin: auto;
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.priceBox {
  width: 15%;
  flex-grow: 1;
  vertical-align: top;
  border: 2px solid #1be274;
  border-radius: 8px;
  margin: 16px 8px;
  padding: 16px 16px 65px 16px;
  position: relative;
}
.priceBox.working {
  pointer-events: none;
  opacity: 0.5;
  background-color: #3c414a;
}

.feature {
  font-size: 16px;
  margin-top: 4px;
}
.priceBox .title {
  font-size: 18px;
  font-weight: bold;
  color: #608571;
  margin-bottom: 12px;
}
.priceBox.attention {
  flex-grow: 2;
  margin-bottom: -6px;
  margin-top: -6px;
}
.priceBox .price {
  font-size: 33px;
}
.priceBox .price b {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -10px;
  margin-left: 2px;
}
.priceBox.attention .ftrs {
  height: 100px;
}

.ftrs {
  padding-top: 12px;
  height: 200px;
  font-size: 14px;
  height: 70px;
}
.priceBox button {
  margin: 0px;
}
.bbn-logo {
  margin: auto;
  display: block;
  max-width: 100%;
  margin-bottom: -64px;
}

.airdropOptions {
  margin-top: 8px;
  text-align: center;
}

.pbar-shell {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
  height: 20px;
  background-color: #626a7a;
  overflow: hidden;
  border-radius: 5px;
}

.pbar-inner {
  height: 20px;
  background-color: #1be274;
}

.pbar-info {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
  text-align: center;
}

.modal {
  background-color: #1b202be7;
  max-width: 600px;
  margin: 16px auto;
  border-radius: 8px;
}

.modal-body {
  padding: 32px;
}

.modal-transfer-icp {
  min-width: 300px;
  text-align: left;
  max-width: 100%;
}
.modal-transfer-icp input {
  box-sizing: border-box;
  width: 100%;
  background-color: #787d86;
  border: 0px solid;
  padding: 6px 12px;
  margin-top: 8px;
}

.modal-airdrop-code {
  min-width: 300px;
  text-align: left;
  max-width: 100%;
}
.modal-airdrop-code input {
  box-sizing: border-box;
  width: 100%;
  background-color: #787d86;
  border: 0px solid;
  padding: 6px 12px;
  margin-top: 8px;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 12px;
}

label {
  font-size: 12px;
}

.modal-actions {
  margin-top: 12px;
  text-align: right;
}

.basket {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 20;
  background-color: #16171b;
  overflow: scroll;
  overscroll-behavior: contain;
}
.basket .inner {
  max-width: 600px;
  margin: auto;
  padding-top: 128px;
  padding-bottom: 256px;
}

.basket .title {
  font-size: 30px;
  text-align: center;
  padding-top: 32px;
}
.basket .subtitle {
  font-size: 15px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
}

.basket .actions {
  text-align: center;
  padding-bottom: 16px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spin-center {
  position: absolute;
  zoom: 3;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
.spin-center .lds-ellipsis {
  left: 50%;
  top: 50%;
  display: block;
  margin-left: -40px;
  margin-top: -40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.requiresLogin {
  opacity: 0.4;
  pointer-events: none;
}

.nft-sm .actions {
  margin-top: 8px;
}
