html {
  overflow-y:scroll;

}
body {
  /* background-color: #282c34;

  color: white; */
  /* background: linear-gradient(153deg,rgba(27, 32, 43, 1) 0%,rgba(30, 33, 32, 1) 100%); */
}
.App {overflow:hidden;}
.ratoko-logo {
  margin: auto;
  display: block;
  margin-top:50px;
  margin-bottom: -210px;
  z-index:10;
  position:relative;
  width:700px;

}
.about p {padding-bottom:24px;}
.wheel {
  position:fixed;
  z-index:50;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}
.wheel-inner {
  position:absolute;
width:100vw;
height:100vh;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
}
.wheel-1 {
  position:absolute;width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  z-index:1;  bottom:0px;
  right:0px;
  animation-name: spin;
  animation-duration: 40000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.wheel-2 {
  position:absolute;width:100vw;
  height:100vh;  bottom:0px;
  right:0px;
  top:0px;
  left:0px;  z-index:2;
  animation-name: spin-c;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.wheel-3 {
  position:absolute;width:100vw;
  height:100vh;  bottom:0px;
  right:0px;
  top:0px;
  left:0px;z-index:3;
  animation-name: spin;
  animation-duration: 20000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
.wheel-shadow {
  position:absolute;width:100vw;
  height:100vh;  bottom:0px;
  right:0px;
  top:0px;
  left:0px;z-index:0;
}

blockquote {
font-style: italic;
padding:0px 16px 16px 64px;
color:#bb916a
}

.scale-in-center{animation:scale-in-center 0.5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}
@keyframes spin-c { 
  from { 
      transform: rotate(360deg); 
  } to { 
      transform: rotate(0deg); 
  }
}

.Title {
  text-align: center;
  font-size: 45px;
  display: none;
}
.Subtitle {
  font-size: 23px;
  text-align: center;
}
.ito-waiting {pointer-events: none;opacity:0.5}
.unavailable {pointer-events: none;opacity:0.5}

.soldout {font-size:22px;}

.working {
  pointer-events: none;
  opacity:0.5;
}
.footer {max-width:700px;margin:50px auto 150px auto;text-align:center;}
.smalltxt {
  font-size:11px;
}
.about a {color:#1be274!important}

.collection {
  text-align: center;
  min-height:68vw;
}

.e8s {color:#656d7e; font-size:12px;}

.c-actions {
  max-width: 500px;
  text-align: center;
  margin: 0px auto 32px auto;
}

.nft-sm {
  display: inline-block;
  /* flex-direction: row; */
  margin-bottom: 2vw;
  margin-left:1vw;
  width:16vw;
  height:16vw;
}

.pricewrapper {position:relative;}

.mframe {position:absolute;
  top:-84px;
  left:50%;
  margin-left:-550px;
  max-width:none;
  width:1100px;
}
.nft-quality {
  font-size: 12px;
  margin-top: 0px;
  color: #626a7a;
}
.nft-img {
  cursor:pointer;

  height:100%;
  position:relative;
  /* width: 140px;
  height: 140px;
  min-width:140px; */
}

.nft-img img {
  /* width: 140px;
  height: 140px;
  border-radius: 4px; */
}

.nft-info {
  width: 100%;
  position:absolute;bottom:-20px;left:0px;
  font-size: 16px;
}
.nft-name {
  font-size: 17px;
  font-weight: bold;
}

.nft-lore {
  padding-top: 12px;
  padding-right: 12px;
  font-size: 14px;
}

.nft-attr-box {
  margin-left: 32px;
  width: 170px;
}

.nft-attr {
  display: flex;
  width: 100%;
}
.nft-attr .label {
  width: 80px;
  color: #626a7a;
}
.nft-attr .val {
  width: 30px;
  text-align: right;
}

.about {
  max-width: 600px;
  margin: auto;
  padding: 32px;
  font-size: 17px;
}
.buybutton {
  position: absolute;
  bottom: 16px;
  left: 0px;
  width: 100%;
  box-sizing: content-box;

  text-align: center;
}

.user {
  margin: auto;
  max-width: 600px;
  margin-top: 32px;
  margin-bottom: 118px;
}
.user .address {
  font-size: 13px;
  text-align: center;
  word-break: break-all;
  padding: 0px 16px;
}
.user .address .title {
  color: #7e8fb3;
}
.user .address .val {
  color: #1be274;
}
.user .icp {
  margin-top: 8px;
  text-align: center;
  font-size: 18px;
}
.user .actions {
  margin-top: 8px;
  text-align: center;
}

.filters {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 8px;
}

button.old {
  background-color: #444a57;
  color: white;


  padding: 10px 20px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
}
.c-actions button.old {
  padding: 3px 12px;
}


button.old.attention {
  background-color: #3d5849;
  color: white;
  border: 1px solid #378337;
  border-bottom: 2px solid #164616;
  border-right: 2px solid #184918;
}

select.old {
  background-color: #444a57;
  color: white;
  border: 1px solid #2d3950;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.priceOptions {
  margin: auto;
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  position: relative;
  margin-bottom: 20px;
}
.termspage {max-width:800px;margin:auto;font-size:1.1em;padding-bottom:100px;}
.termspage h3 {font-size:2.2em;}
.termspage p {margin-bottom:10px;margin-top:10px;}
.priceBox {
  width: 15%;
  flex-grow: 1;
  vertical-align: top;
  border: 2px solid #754930;
  border-radius: 8px;
  margin: 16px 8px;
  padding: 16px 16px 65px 16px;
  position: relative;
}
.priceBox.working {
  pointer-events: none;
  opacity: 0.5;
  background-color: #3c414a;
}

.feature {
  font-size: 16px;
  margin-top: 4px;
}
.priceBox .title {
  font-size: 18px;
  font-weight: bold;
  color: #608571;
  margin-bottom: 12px;
}
.priceBox.attention {
  flex-grow: 2;
  margin-bottom: -6px;
  margin-top: -6px;
}
.priceBox .price {
  font-size: 33px;
}
.priceBox .price b {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -10px;
  margin-left: 2px;
}
.priceBox.attention .ftrs {
  height: 100px;
}

.ftrs {
  padding-top: 12px;
  height: 200px;
  font-size: 14px;
  height: 70px;
}
.priceBox button {
  margin: 0px;
}

.r-left {
  position:fixed;
  top:8px;
  left:8px;
  z-index:10;
  width:400px;
}
.r-right {
  position:fixed;
  top:8px;
  right:8px;
  z-index:10;
  width:400px;
}
.rb-right {
  -webkit-transform: scaleX(-1);
  transform: scaleY(-1);
  position:fixed;
  bottom:8px;
  right:8px;
  z-index:10;
  width:400px;
  opacity:0.2;
}
.rb-left {
  -webkit-transform: scaleX(-1);
  transform: scaleY(-1);
  position:fixed;
  bottom:8px;
  left:8px;
  z-index:10;
  width:400px;
  opacity:0.2;

}
.f-left {
  position:fixed;
  top:0px;
  left:2vw;
  width:450px;

}
.f-right {
  position:fixed;
  top:0px;
  right:2vh;
  width:450px;

}
.inner-page {
  position:relative;
  z-index:20;
}

.basket-logo {
  margin: auto;
  display: block;
  margin-top:-220px;
  margin-bottom: -180px;

  max-width:700px;
  width:100%;

}



.airdropOptions {
  margin-top: 108px;
  text-align: center;
}

.pbar-shell {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
  height: 20px;
  background-color: #626a7a;
  overflow: hidden;
  border-radius: 5px;
}
.countdown {position:relative;top:-70px;}
.pbar-inner {
  height: 20px;
  background-color: #1be274;
}

.pbar-info {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
  text-align: center;
}

.modal {
  background-color: #1c2129e7;
  max-width: 600px;
  margin: 16px auto;
  border-radius: 8px;
}

.modal-body {
  padding: 32px;
  border-radius:15px;
  border:1px solid #bfa95d
}

.modal-transfer-icp, .modal-nftbox {
  
  text-align: left;
  max-width: 100%;
}


.modal-transfer-icp input, .modal-nftbox input {
  box-sizing: border-box;
  width: 100%;
  background-color: #787d86;
  border: 0px solid;
  padding: 6px 12px;
  margin-top: 8px;
}

.modal-airdrop-code {

  text-align: left;
  max-width: 100%;
}
.modal-airdrop-code input {
  box-sizing: border-box;
  width: 100%;
  background-color: #787d86;
  border: 0px solid;
  padding: 6px 12px;
  margin-top: 8px;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 12px;
}

label {
  font-size: 12px;
}

.modal-actions {
  margin-top: 12px;
  text-align: right;
}

.basket {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 30;
  background-color: #16171b;
  overflow: scroll;
  overscroll-behavior: contain;
}

.fullbg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 30;
  background-color: #16171b;
  overflow:hidden;
  overscroll-behavior: contain;
  cursor:pointer;
}

.fullbg img {width:100%;height:100%;max-width:90vw;max-height:90vh;margin:5vh auto;display:block;}

.basket .nft-sm {
  max-width:70vw;
  max-height:70vh;
  width:100%;
  height:100%;
  margin-left:0px;
}

.basket .inner {
  max-width: 600px;
  margin: auto;
  padding-top: 128px;
  padding-bottom: 256px;
}

.basket .title {
  font-size: 30px;
  text-align: center;
  padding-top: 32px;
}
.basket .subtitle {
  font-size: 15px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
}

.basket .actions {
  text-align: center;
  padding-bottom: 16px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spin-center {
  position: absolute;
  zoom: 3;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
.spin-center .lds-ellipsis {
  left: 50%;
  top: 50%;
  display: block;
  margin-left: -40px;
  margin-top: -40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.requiresLogin {
  opacity: 0.4;
  pointer-events: none;
}

.nft-sm .actions {
  margin-top: 8px;
}

.nft-sm .actions button.old {
  padding: 4px 16px!important;
  background-color: #282c34!important;
  margin-top:4px;
}

button.old.confirmbuy {
  background-color:#2d543f!important;
}

.actions button.old.buybut {background-color:#204923!important;border-color:#236127}

.priceinfo {text-align:center;margin:6px 0px;}
.priceinfo span {display:inline-block; padding:2px 4px; margin-left:2px; margin-right:2px; margin-top:2px;background-color:#201c1d; border-radius:4px;}
.sellfee {font-size:11px;}

.buyproc {padding:4px;font-size:13px;color:#1be274}

.update { padding:16px; border:1px solid rgb(48, 113, 52);margin-bottom:16px;}
.update b {color:rgb(48, 113, 52);}

.navi button.old {background-color:#4b505a}
a.active button.old {background-color:#204923}

.navi {text-align:center;}
.navi button.old {margin:0px;border-radius:0px;}
.navi a:first-child button.old {border-radius:15px 0px 0px 15px;}
.navi a:last-child button.old {border-radius:0px 15px 15px 0px;}


/* Portrait and Landscape */
@media only screen and (max-device-width: 900px) {

  .r-left {
    width:200px;
  }
  .r-right {
    width:200px;
  }
  .rb-left {
    width:200px;
  }
  .rb-right {
    width:200px;
  }

  .ratoko-logo {
    margin-bottom:-110px;
    margin-top:-80px;
  
  }
  .collection {
    margin: auto;
    box-sizing: border-box;
  }
  .nft-sm {
    text-align: center;
    display: block;
    width:100%;
    height:100%;
    margin: auto;

    margin-bottom: 32px;
  }
  .nft-img {
    display: block;
    margin: auto;
    width:100%;
  }
  .nft-img img {
  }
  .nft-info {
    width: 100%;
    padding-top: 16px;
    padding-left: 0px;
  }
  .nft-attr-box {
    margin-top: 8px;
    margin-left: 90px;
  }
}
